{% extends "layout.html" %}

{% block content %}
  <h1>Configuration : « {{ config_name|e}} » - workspace : « {{ workspace.name|e}} »</h1>

  <p>
    <form action="#" method="post">
      {{ form_widget(form) }}
      <input type="submit" name="submit" />
    </form>
  </p>
  <ul>
    {% for container in workspace.containers %}
      {% for client in container.clients %}
        <li>
          <a href="/config/{{ config_name }}/{{ workspace.name }}/{{ client.name }}">Modify client « {{ client.name|e }} »</a>
        </li>
      {% endfor %}
    {% else %}
      <li>No Client for this configuration</li>
    {% endfor %}
  </ul>

  <p>
    <a href="/config/{{ config_name }}">Return to workspace list</a>
  </p>
{% endblock %}
